<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Humor</title>
    <style>
      body {
        background-color: #c3e1fff4;
      }
    </style>
</head>

<body>
  <div class="container">

<header class="border-bottom py-3 fixed-top">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="text-center">
      <a class="blog-header-logo text-white text-decoration-none" href="/dashboard"><h2>Meu Humor</h2></a>
    </div>
  </div>
</header>

<main class="py-5">
  <form id="humorForm" action="/addHumor" method="post" enctype="multipart/form-data" class="form">
    <div class="pt-5 *mt-2 form-group text-center">
        <input type="date" class="form-control" id="data_atual" name="data_atual" required>
    </div>

    <div class="mood-buttons text-center">
      <h2 class="form-heading">Como você está?</h2>
      <div class="btn-group gap-3" role="group">
          <button onclick="selectMood(this)" class="btn-mood btn-excelente btn-custom rounded-pill px-3" type="button">excelente</button>
          <button onclick="selectMood(this)" class="btn-mood btn-bem btn-custom rounded-pill px-3" type="button">bem</button>
          <button onclick="selectMood(this)" class="btn-mood btn-mais btn-custom rounded-pill px-3" type="button">mais ou menos</button>
          <button onclick="selectMood(this)" class="btn-mood btn-mal btn-custom rounded-pill px-3" type="button">mal</button>
          <button onclick="selectMood(this)" class="btn-mood btn-horrivel btn-custom rounded-pill px-3" type="button">horrível</button>
        </div>
  </div>

  <!-- Campos ocultos para armazenar informações selecionadas -->
  <input type="hidden" name="avaliacao_humor" id="avaliacao_humor">
  <input type="hidden" name="emocoes" id="emocoes">
  <input type="hidden" name="sono" id="sono">
  <input type="hidden" name="social" id="social">
  <input type="hidden" name="clima" id="clima">

    <div class="form-group text-center">
      <h2 class="form-heading">Emoções</h2>
      <div class="btn-group gap-3" role="group">
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">feliz</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">empolgado(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">grato(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">descontraído(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">satisfeito(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">cansado(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">incerto(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">entediado(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">ansioso(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">com raiva</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">estressado(a)</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">triste</button>
        <button onclick="toggleEmocoes(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">desesperado(a)</button>
      </div>
      </div>
  
  
    <div class="form-group text-center">
        <h2 class="form-heading">Sono</h2>
        <div class="btn-group gap-3" role="group">
          <button onclick="selectSono(this)" class="btn-sono btn-sessoes btn-custom rounded-pill px-3" type="button">bom sono</button>
          <button onclick="selectSono(this)" class="btn-sono btn-sessoes btn-custom rounded-pill px-3" type="button">sono neutro</button>
          <button onclick="selectSono(this)" class="btn-sono btn-sessoes btn-custom rounded-pill px-3" type="button">sono ruim</button>
        </div>
    </div>
  
    <div class="form-group text-center">
        <h2 class="form-heading">Social</h2>
        <div class="btn-group gap-3" role="group">
          <button onclick="toggleSocial(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">família</button>
          <button onclick="toggleSocial(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">amigos</button>
          <button onclick="toggleSocial(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">encontro</button>
          <button onclick="toggleSocial(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">festa</button>
        </div>
    </div>
  
    <div class="form-group text-center">
        <h2 class="form-heading">Clima</h2>
        <div class="btn-group gap-3" role="group">
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">ensolarado</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">nublado</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">chuvoso</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">nevando</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">calor</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">frio</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">tempestade</button>
          <button onclick="toggleClima(this)" class="btn-sessoes btn-custom rounded-pill px-3" type="button">vento</button>
        </div>
    </div>

    <div class="form-group text-center">
      <h2 class="form-heading">Anotações</h2>
      <div>
          <textarea class="form-control" id="anotacao" name="anotacao" rows="3"></textarea>
      </div>
  </div>

    <div class="form-group text-center">
        <h2 class="form-heading">Foto</h2>
        <div>
          <input class="form-control" type="file" id="formFile" name="foto">
        </div>
    </div>

    <div class="form-group text-center mb-4">
      <h2 class="form-heading">Áudio</h2>
      <!-- <div>
          <button type="button" id="recordButton">Gravar</button>
          <button type="button" id="stopButton" disabled>Parar</button>
          <p id="recordingStatus"></p>
            <input type="hidden" class="form-control" id="audio" name="audio">
        </div> -->
      <label for="audio">Gravador de Voz:</label><br>
      <button class="btn-audio btn-custom rounded-pill px-3" type="button" id="recordButton">Gravar</button>
      <button class="btn-audio btn-custom rounded-pill px-3" type="button" id="stopButton" disabled>Parar</button>
      <p id="recordingStatus"></p>
      <input type="file" id="audioInput" name="audio" accept="audio/*" style="display:none;">
    </div>

    <div class="container">
      <footer class="border-bottom py-2 fixed-bottom text-center">
      <div class="row align-items-center">
        <button class="btn w-100 text-white" type="submit">Salvar</button>
      </div>
    </footer>
    </div>

</form>

</main>
</div>


<script src="scripts.js"></script>
  
</body>
</html>