html {
  background-color: #c3e1fff4;
 
}
body {
  font-family: Arial, sans-serif;
  background-color: #c3e1fff4;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3e1fff4;
}

main{
  margin: 0;
  background-color: #c3e1fff4;

}

header, footer{
  background-color: #6c63ff;
  color: white;
}

.form-heading {
  margin-top: 20px;
  color: #6c63ff;
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  box-sizing: border-box;
}

.selected {
  background-color: #5a54d4 !important;
  color: white !important;
}

.btn-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-custom {
  background-color: rgba(243, 248, 255, 0.983);
  color: black;
  padding: 1vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-sessoes {
  border: solid #5821c786;
}

.btn-excelente {
  border: solid #43c72186;
}

.btn-bem {
  border: solid #9bc72186;
}

.btn-mais {
  border: solid #f0e62486;
}

.btn-mal {
  border: solid #c7712186;
}

.btn-horrivel {
  border: solid #c73a2186;
}

.btn-audio{
  border: solid #de1212af;
}

.btn-custom:hover {
  background-color: #5a54d4;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6c63ff;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.navbar {
  background-color: #6c63ff;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4f4f9;
}